### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [979]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Display the head of the input data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [980]:
# Create a new dataframe table with unique value of number of players
total_players_table = pd.DataFrame({'Total Players': [purchase_data["SN"].nunique()]})

# Left align columns
total_players_table = total_players_table.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
total_players_table

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [981]:
# Get unique items
unique_items = purchase_data["Item ID"].nunique()

# Calcuate average and format the price value
ave_price = "${:,.2f}".format(purchase_data['Price'].mean())

# Count number of purchases
total_purchase = purchase_data['Purchase ID'].count()

# Calculate and format the total revenue
total_rev = "${:,.2f}".format(purchase_data["Price"].sum())

# Create new dataframe summary table
purchase_sum_df = pd.DataFrame({'Number of Unique Items' : [unique_items],
                                'Average Price' : [ave_price],
                                'Number of Purchases' : [total_purchase],
                                'Total Revenue' : [total_rev]})

# Formatting summary table with Left align columns to be the same as the picture of the required output
purchase_sum_df  = purchase_sum_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
purchase_sum_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [982]:
# Get the number of unique players 
total_players = purchase_data["SN"].nunique()

# Get the unique players basedon their gender
player_types = purchase_data.drop_duplicates(['SN']).groupby('Gender').count().sort_values('SN',ascending=False)
total_player_types = player_types["SN"]

# Calculate the percentage of of male, female & other/non-disclosed players
percent_players = (player_types/total_players).astype(float).sort_values('SN',ascending=False)
total_percent_players = percent_players['SN'].map("{:.2%}".format)

# Create a new summary dataframe table with meaning full columns names for the final output
merge_df = pd.merge(total_player_types, total_percent_players, on ="Gender")
merge_df = merge_df.rename(columns={"SN_x": "Total Count", "SN_y" : "Percentage of Players"})

# Remove index column header and formatting the table to look similar to the required output image
format_merge_df = merge_df.rename_axis(None)
format_merge_df = format_merge_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')]) ])

format_merge_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [998]:
# Generic function to format value into the currency value with decimal points
def format_currency(currency):
    convert_currency = '${:,.2f}'.format(currency)
    return convert_currency

In [999]:
# Create a smmary dataframe table starting with purchase count and Gender index columns
summary_purchase_df = pd.DataFrame(purchase_data.groupby('Gender').count(), columns=["SN"])
summary_purchase_df = summary_purchase_df.rename(columns={"SN": "Purchase Count"})
summary_purchase_df

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [1000]:
# Calculate the average purchase price group by gender and insert this column to the summary table
ave_purchase_price = purchase_data.groupby(['Gender']).mean()

summary_purchase_df['Average Purchase Price'] = ave_purchase_price['Price']
summary_purchase_df

                       Purchase Count  Average Purchase Price
Gender
Female                            113                3.203009
Male                              652                3.017853
Other / Non-Disclosed              15                3.346000

In [1001]:
# Calculate the total purchase value and insert this column to the summary table
total_pur_value = purchase_data.groupby('Gender').sum()
summary_purchase_df['Total Purchase Value'] = total_pur_value['Price']
summary_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [1002]:
# Calculate the average total purchase per person and insert this column to the summary table
ave_pur = total_pur_value["Price"]/merge_df['Total Count']

summary_purchase_df['Avg Total Purchase per Person'] = ave_pur
summary_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [1003]:
#Fomatting the summary purchase table tihe left, right alignment to make it looks like the require output image

summary_purchase_df[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']] = summary_purchase_df[['Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']].applymap(format_currency)

summary_purchase_df = summary_purchase_df.style.set_properties(**{'text-align': 'right'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')]) ])

summary_purchase_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1004]:
# Set up the bins and labels for age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf ]
group_ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_ages)

# Create a summary dataframe table and rename table column to total count
age_demo_df = purchase_data[["Age Group", "SN"]].drop_duplicates(subset = 'SN').groupby("Age Group").count()
age_demo_df = age_demo_df.rename(columns={"SN": "Total Count"})

# Remove index column header
age_demo_df = age_demo_df.rename_axis(None)

In [1005]:
# Get percent unique players count & convert into percentage format with 2 decimals
percent_players = age_demo_df['Total Count']/purchase_data["SN"].nunique()
age_demo_df['Percentage of Players'] = percent_players.map("{:.2%}".format)

# Display final summary table
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1016]:
# Set up the bins and labels for age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf ]
group_ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Bin the purchase_data data frame by age
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels = group_ages)

In [1017]:
# Create analysis purchase dataframe with purchase count by age range
purchase_analysis_df = purchase_data[['Age Ranges','SN']].groupby("Age Ranges").count()
purchase_analysis_df = purchase_analysis_df.rename(columns={"SN": "Purchase Count"})

# Calculate the average purchase price, total purchase value and average total purchase per person
ave_pur_by_age = purchase_data[['Age Ranges', 'Price']].groupby("Age Ranges").mean()
tot_pur_price = purchase_data[["Age Ranges", "Price"]].groupby("Age Ranges").sum()
ave_pur_pp = tot_pur_price["Price"]/age_demo_df['Total Count']

In [1018]:
# Update final summary dataframe table with required columns & values. Format the required fields with currency
purchase_analysis_df['Average Purchase Price'] = round(ave_pur_by_age,2).applymap(format_currency)
purchase_analysis_df['Total Purchase Value'] = tot_pur_price.applymap(format_currency)
purchase_analysis_df['Avg Total Purchase per Person'] = round(ave_pur_pp,2).apply(format_currency)

# Format columns alignments to match the required output format
purchase_analysis_df = purchase_analysis_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')]) ])
purchase_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1034]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [1035]:
# Set variable group_by_sn
group_by_sn = purchase_data.groupby(purchase_data["SN"])

# Get unique value of "SN"
sn_unique = group_by_sn["SN"].unique()

# Calculate the total purchase value, total purchase count and average
ts_purchase_val = group_by_sn["Price"].sum()
ts_purchase_count = group_by_sn['Age'].count()
ave_ts_purchase = group_by_sn["Price"].mean()

In [1036]:
# Collate data dict for the summary table
top_spenders_data = {"Purchase Count" : ts_purchase_count, 
                     "Average Purchase Price": round(ave_ts_purchase,2),
                     "Total Purchase Value": ts_purchase_val}

# Create a summary dataframe table base on data dict avoe to store the required data for the top 5 spenders
top_spenders_df = pd.DataFrame(sum_top_spenders_data)
top_spenders_df = sum_top_spenders_df.sort_values("Total Purchase Value",ascending=False)
sum_top_spenders_df = top_spenders_df.iloc[:5]

# Format the columns of the summary table
# sum_top_spenders_df[['Average Purchase Price','Total Purchase Value']] = sum_top_spenders_df[['Average Purchase Price','Total Purchase Value']].applymap(format_currency)
sum_top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame