### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].nunique()
print(total_players)

576

In [3]:
total_players_table = pd.DataFrame({'Total Players': [total_players]})

# Left align columns
total_players_table = total_players_table.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
total_players_table

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [5]:
# ave_price = format(purchase_data['Price'].mean(),'.2f')
ave_price = "${:,.2f}".format(purchase_data['Price'].mean())
print(ave_price)

$3.05

In [6]:
total_purchase = purchase_data['Purchase ID'].count()
total_purchase

780

In [7]:
total_rev = "${:,.2f}".format(purchase_data["Price"].sum().astype(float))

total_rev

'$2,379.77'

In [8]:
purchase_sum_df = pd.DataFrame({'Number of Unique Items' : [unique_items],
                                'Average Price' : [ave_price],
                                'Number of Purchases' : [total_purchase],
                                'Total Revenue' : [total_rev]})

# Left align columns
purchase_sum_df  = purchase_sum_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')] ) ])
purchase_sum_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
total_players = purchase_data["SN"].nunique()
print(total_players)

576

In [10]:
# male_players = purchase_data.loc[purchase_data['Gender']=='Male',:].nunique()
# player_types = purchase_data.drop_duplicates(['SN']).groupby('Gender').agg({'Gender': 'count'})
player_types = purchase_data.drop_duplicates(['SN']).groupby('Gender').count().sort_values('SN',ascending=False)
total_player_types = player_types["SN"]
total_player_types

Gender
Male                     484
Female                    81
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
percent_players = (player_types/total_players).astype(float).sort_values('SN',ascending=False)
total_percent_players = percent_players['SN'].map("{:.2%}".format)
total_percent_players

Gender
Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: SN, dtype: object

In [12]:
merge_df = pd.merge(total_player_types, total_percent_players, on ="Gender")

print(merge_df)

                       SN_x    SN_y
Gender
Male                    484  84.03%
Female                   81  14.06%
Other / Non-Disclosed    11   1.91%

In [13]:
# merge_df.style.set_properties(["SN_x", "SN_y"],**{'text-align': 'right'})

merge_df = merge_df.rename(columns={"SN_x": "Total Count", "SN_y" : "Percentage of Players"})

# remove index column header
format_merge_df = merge_df.rename_axis(None)

format_merge_df = format_merge_df.style.set_properties(**{'text-align': 'left'}).set_table_styles([ dict(selector='th', props=[('text-align', 'left')]) ])
format_merge_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# purchases_count = purchase_data.groupby('Gender').count()
# purchases_count['SN']

purchases_count = pd.DataFrame(purchase_data.groupby('Gender').count(), columns=["SN"])
purchases_count = purchases_count.rename(columns={"SN": "Purchase Count"})
purchases_count

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [15]:
# ave_purchase_price = purchase_data.groupby('Gender').mean()
# print(ave_purchase_price['Price'])
ave_purchase_price = pd.DataFrame(purchase_data.groupby('Gender').mean(), columns=["Price"])
ave_purchase_price["Price"] = ave_purchase_price["Price"].map('${:,.2f}'.format)
ave_purchase_price = ave_purchase_price.rename(columns={"Price": "Average Purchase Price"})
ave_purchase_price

                      Average Purchase Price
Gender
Female                                 $3.20
Male                                   $3.02
Other / Non-Disclosed                  $3.35

In [42]:
# total_pur_value = purchase_data.groupby('Gender').sum()
# total_pur_value['Price']

total_pur_value = pd.DataFrame(purchase_data.groupby('Gender').sum(), columns=["Price"])
total_pur_value_f = total_pur_value.copy()
# total_pur_value_f = pd.DataFrame(purchase_data.groupby('Gender').sum(), columns=["Price"]) 
total_pur_value_f["Price"] = total_pur_value_f["Price"].map('${:,.2f}'.format)
total_pur_value_f = total_pur_value_f.rename(columns={"Price": "Total Purchase Value"})
# total_pur_value.info()
# # total_pur_value_f.info()
# type(total_pur_value_f)
total_pur_value_f
# total_pur_value

                      Total Purchase Value
Gender
Female                             $361.94
Male                             $1,967.64
Other / Non-Disclosed               $50.19

In [43]:
total = merge_df['Total Count']
# total = pd.DataFrame(total)

total

# total.info()
# type(total)

Gender
Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Total Count, dtype: int64

In [52]:
ave_pur = total_pur_value["Price"]/merge_df['Total Count']
ave_pur = ave_pur.map('${:,.2f}'.format)
print(ave_pur)

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [53]:

summary_pur_df = pd.concat([purchases_count, ave_purchase_price, total_pur_value_f], axis=1)
summary_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

In [54]:
summary_pur_df['Avg Total Purchase per Person'] = ave_pur
summary_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame